body
{
    margin: 0;
    padding: 0;
    
    background: linear-gradient( rgb(93, 88, 119),rgb(48, 48, 69));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 50.4vw;
}
/* Add color to the background. */ 

.navbar
{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 6vw;
    flex-direction: column;
    align-items: center;
}
/* Position the navbar to the centert on the top. */

.navbar-container
{
    display: flex;
    width: 100%;
}
/* Give the "navbar-container" position. */

.navbar-subcontainer 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    align-items: center;
    padding-left: 12rem;
    margin-top: 3rem;
}
/* Center and make space between the text on the navbar. */

.navbar-subcontainer >a
{
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-family: "consolas" , sans-serif;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
/* Give the text on the navbar color, size and style. */

#nav_underline
{
    text-decoration: underline rgb(0, 0, 0) 0.3vw;  
}
/* Give the underline color. */


.nav_logo
{
    height: 5vw;
    margin-left: 3vw;
    width: 5vw;
    margin-top: 2rem;
}
/* Position the logo in the top left corner and give him size. */

.nav_line
{
    height: 0.5vw;
    width: 75vw;
    padding-top: 0.5rem;
    background-color: rgb(0, 0, 0);
    margin-top: 1rem;
    border-radius: 0.5vw;
}
/* Give the line color, positioning and size. */


header
{
    justify-content: center;
    display: flex;
    
    font-size: 7rem;
    font-family: "consolas" , sans-serif;
    color: aliceblue;
}
/* Give the header size, style, color and position him. */

header>p
{
    margin: 0;
    margin-top: 2vw;
}
/* Give the text on the position. */


.main_div
{
    justify-items: center;
    justify-content: center;
}
/* Give the "main_div" size, background color, position him and circle him. */

.main_text
{
    font-family: "consolas" , sans-serif;
    color: aliceblue;
    font-size: 2.2vw;
    margin-top: 10vh;
    margin-left: 6vw;
}
/* Give the "main_text" size, color, position. */

.main_text>a
{
    text-decoration: none;
    font-family: "consolas" , sans-serif; 

    color: black;
}
/* Give the text on the "main_text" color, style. */

h1
{
    display: flex;
    margin-left: 30vw;
    margin-top: 10vh;
    font-size: 3vw;
    font-family: "consolas" , sans-serif;
    color: aliceblue;
}
/* Give the h1 position, style, size and color. */

h2
{
    display: flex;
    margin-left: -40vw;
    margin-top: 10vh;
    font-size: 3vw;
    font-family: "consolas" , sans-serif;
    color: aliceblue;
}
/* Give the h2 position, style, size and color. */

h3
{
    display: flex;
    margin-left: 3vw;
    margin-top: 10vh;
    font-size: 3vw;
    font-family: "consolas" , sans-serif;
    color: aliceblue; 
}
/* Give the h3 position, style, size and color. */

.main_text
{
    font-family: "consolas" , sans-serif;
    color: aliceblue;
    font-size: 2.3vw;

    margin-left: 6vw;
}
/* Give the the "main_text" color, style, size and position him. */

.div_line
{
    margin-left: 5vw;

    height: 0.3vw;
    width: 90vw;

    background-color: white;
}
/* Give the the "div_line" position, size and background color. */

footer
{
    height: 9vw;
    display: flex;

    position: relative;
    top: 15rem;

    background-color: black;

}
/* Give the footer position, size and background color. */

footer>p
{
    font-family: "consolas" , sans-serif;
    color: rgb(255, 255, 255);
}
/* Give the text on the footer color and style. */

.footer_contacts
{
    font-size: 2vw;
    margin-left: 4vw;
}
/* Give the "contacts" on the footer size and position. */


.footer_text
{
    font-size: 2vw;
    padding-top: 1.5rem;
    margin-left: 42vw;;
}
/* Give the "text" on the footer size and position. */