body
{
    margin: 0;
    padding: 0;
    
    background: linear-gradient( rgb(73, 69, 97),rgb(44, 44, 65));
    height: 1153px;
}

.navbar
{
    align-items: last baseline;

    height: 6vw;
}

.navbar>a
{
    text-decoration: none;
    color: black;

    font-family: "consolas" , sans-serif;
    font-size: 2vw;

    margin-left: 3vw;
}

#nav_goals
{
    text-decoration: underline rgb(126, 71, 169) 0.3vw;
}

.nav_logo
{
    height: 4vw;
    margin-left: 2vw;
    margin-top: 0.5vw;
}

.nav_line
{
    height: 0.5vw;
    width: 80vw;

    background-color: aliceblue;

    margin-left: 2vw;
    margin-top: 0.7vw;
}