body
{
    margin: 0;
    padding: 0;
}

.navbar
{
    background: linear-gradient( rgb(157, 142, 204),rgb(46, 50, 96));
    background-attachment: fixed;
    display: flex;
    align-items: last baseline;

    height: 5vw;
}

.navbar>a
{
    text-decoration: none;
    color: black;
    font-family: "consolas" , sans-serif;
    font-size: 2vw;
}