body
{
    margin: 0;
    padding: 0;
    
    background: linear-gradient( rgb(111, 88, 119),rgb(48, 48, 69));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 50.4vw;
}
/* Add color to the background. */ 

.navbar
{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 6vw;
    flex-direction: column;
    align-items: center;
}
/* Position the navbar to the centert on the top. */

.navbar-container
{
    display: flex;
    width: 100%;
}
/* Give the "navbar-container" position. */

.navbar-subcontainer 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    align-items: center;
    padding-left: 12rem;
    margin-top: 3rem;
}
/* Center and make space between the text on the navbar. */


.navbar-subcontainer >a
{
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-family: "consolas" , sans-serif;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    
    border-radius: 0.6vw;
}
/* Give the text on the navbar color, size and style. */

.navbar-subcontainer >a:hover
{
    background-color: rgb(91, 68, 113);
    transition: 0.7s;
}

#nav_underline
{
    text-decoration: underline rgb(0, 0, 0) 0.3vw;  
}
/* Give the underline color. */

.nav_logo
{
    height: 5vw;
    margin-left: 3vw;
    width: 5vw;
    margin-top: 2rem;
}
/* Position the logo in the top left corner and give him size. */

.nav_line
{
    height: 0.5vw;
    width: 75vw;
    padding-top: 0.5rem;
    background-color: rgb(0, 0, 0);
    margin-top: 1rem;
    border-radius: 0.5vw;
}
/* Give the line background color, positioning, size and circle it. */

header
{
    justify-content: center;
    display: flex;
    
    font-size: 7rem;
    font-family: "consolas" , sans-serif;
    color: aliceblue;
}
/* Give the header size, style, color and position him. */

.main_div
{
    justify-items: center;
    justify-content: center;
    display: flex;
}
/* Give the "main_div" position him. */

.main_text
{
    font-family: "consolas" , sans-serif;
    color: aliceblue;
    font-size: 3vw;

    position: absolute;
    left: 10vw;

    height: 2vw;
    width: 20vw;
}
/* Give the "main_text" size, style, color and position. */

#Scrum
{
  margin-left: 3rem;


  font-size: 1.55rem;
  color: aliceblue;
}
/* Give the "Scrum" size, color and position. */

#Designer
{
  margin-left: 8rem;
  

  color: aliceblue;
  font-size: 1.55rem;  
}
/* Give the "Designer" size, color and position. */

#Developer1
{
  margin-left: 8rem;


  color: aliceblue;
  font-size: 1.55rem;  
}   
/* Give the "Developer1" size, color and position. */

#Developer2
{
  margin-right: 3rem;
  margin-left: 8rem;

  
  color: aliceblue;
  font-size: 1.55rem;  
}
/* Give the "Developer2" size, color and position. */

#Ceco
{
    padding-left: 8rem;
    height: 0.1rem;

}
/* Give the "Ceco" position. */

#Miro
{
    padding-left: 32rem;
    height: 0.1rem;

}
/* Give the "Miro" position. */

#Toni
{
    padding-left: 63rem;
    height: 0.1rem;

}
/* Give the "Toni" position. */

#Sashko
{
    padding-left: 96rem;
    margin-bottom: 2rem;
    height: 16rem;

}
/* Give the "Sashko" position. */

footer
{
    height: 9vw;
    display: flex;

    position: relative;
    top: 10rem;

    background-color: black;

}
/* Give the footer position, size and background color. */


footer>p
{
    font-family: "consolas" , sans-serif;
    color: aliceblue;
}
/* Give the text on the footer color and style. */


.footer_contacts
{
    font-size: 2vw;
    margin-left: 4vw;
}
/* Give the "contacts" on the footer size and position. */


.footer_text
{
    font-size: 2vw;
    padding-top: 1.5rem;
    margin-left: 42vw;
}
/* Give the "text" on the footer size and position. */